<div style="margin-left:2em">
  <h1>Discord Tutorial</h1>

  <h2>For Team Leads</h2>

  <p>As a team lead, you have the ability to create and manage teams. First, go to https://www.raidcraft-app.com/ to create a new account.</p>


  <p>Use the command "@Raidcraft-bot newrun" with your battle ID to initiate a new run for all players. Players can respond to the message with any emoji to participate</p>

  <p>Example:</p><p>

  You: <code style="background-color:lightgray">@Raidcraft-bot newrun NiceBest#1557</code></p><p>

  Raidcraft-Bot: <code style="background-color:lightgray">Let's raid with Raidcraft! React to this message to add a participating character</code>

  <p>The bot will send a private message to each participating player with instructions to create a character.</p>

  <h2>For Players</h2>

  <p>As a player, you can join a team and participate in runs. Creating an account at raidcraft-app.com is optional.</p>

  <p>Reply to a newrun request with an emoji to participate in the run. The bot will send you a private message with instructions to create a character.</p>  
</div>