<style>
  h1 {
    font-size: 2em;
    color: #333;
  }

  h2 {
    font-size: 1.5em;
    color: #333;
  }

  p {
    font-size: 1em;
    color: #333;
  }

  code {
    font-size: 1em;
    background-color: #eee;
    display:block;
    width: 600px;
  }
</style>
<div style="margin-left:2em">
  <h1>Discord Tutorial</h1>

  <h2>For Team Leads</h2>

  <p>As a team lead, you have the ability to create and manage teams. First, go to https://www.raidcraft-app.com/ to create a new account.</p>


  <p>Use the command "@Raidcraft-bot newrun" with your battle ID to initiate a new run for all players. Players can respond to the message with any emoji to participate</p>

  <p>Example:</p><p>

  You: <code>@Raidcraft-bot newrun NiceBest#1557</code></p><p>

  Raidcraft-Bot: <code>Let's raid with Raidcraft! React to this message to join the run</code>

  <p>The bot will send a private message to each participating player with instructions to create a character.</p>

  <h2>For Players</h2>

  <p>As a player, you can join a team and participate in runs. Creating an account at raidcraft-app.com is optional.</p>

  <p>Reply to a newrun request with an emoji to participate in the run. The bot will send you a private message with instructions to create a character.</p>  

 <p> Raidcraft-Bot: <code>NiceBest#1557 is starting a new run. If you already have an account on raidcraft-app.com, just reply with your battle ID to get your characters. Otherwise, let's create a new character. Reply to this message with your character's name.</code>
</p>
</div>